---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import MessageSection from '../components/MessageSection.astro';
---

<Layout title="Not Found 404">
	<main>
		<Header />
		<MessageSection />
	</main>
</Layout>

<style>
	main {
		max-height: 100%;
		position: relative;
	}
</style>

