---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Message from '../components/Message.astro';
---

<Layout title="Not Found 404">
	<main>
		<Navbar />
		<Message />
	</main>
</Layout>

<style>
	main {
		padding:0rem 8rem;
		height: 560px;
	}
</style>
