---
import Navbar from "./Navbar.astro";
---

<header id="header" class="header-container">
  <span class="logo">COMPANY</span>
  <Navbar />
  <span class="open">open</span>
</header>

<style>
header.header-container {
	max-width: 100%;
	display: flex;
	align-items: center;
	padding: 2rem 2rem;
	justify-content: space-between;
}
	
span.logo {
	font-size: 23px;
	font-weight: 600;
	cursor: pointer;
	transition: color .2s ease;
}
	
span.logo:hover {
	color: #953ce2;
}
	
span.open {
	font-weight: 600;
}

@media screen and (min-width: 530px) {
  header.header-container {
		padding: 2rem 6rem;
	}
	
	span.open {
	  display: none;
	}
}
</style>

<script>
	import { animate, inView } from 'motion';

	inView('#header', (info) => {
		animate(info.target, 
			{ 
				opacity: [0.2, 0.4, 0.6, 0.8, 1],
				y: [-12, -8, -6, -3, 0]
			},
			{ duration: 3 }
		)
	})
</script>