<section class="section-container">
  <div id="blob" class="blob"></div>
  <div class="text-container">
    <h2>
      Error 
      <span id="first">4</span><span id="second">0</span><span id="thrid">4</span>
    </h2>
    <p>Sorry! The page you have requested not exists</p>
  </div>
</section>

<style>
  section.section-container {
    width: 100%;
    height: 90%;
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
    position: relative;
  }

  h2 {
    margin: 0;
    font-size: 66px;
    letter-spacing: 2px;
  }
  p {
    font-weight: 600;
  }

.blob {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #FFC107;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  overflow: hidden;
  filter: blur(10px); /* Reducimos la intensidad del filtro de blur */
  opacity: 0.3; /* Ajustamos la opacidad del blob para que sea más transparente */
}

.blob:before {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #FFC107;
  position: absolute;
  top: -40px;
  left: -40px;
  transform: rotate(45deg);
}

.blob:after {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #FFC107;
  position: absolute;
  bottom: -40px;
  right: -40px;
  transform: rotate(45deg);
}

</style>

<script>
  import { animate } from 'motion';

  animate('#first', 
  { opacity: [0, 0.2, 0.6, 0.8, 1], 
    transform: ['translateY(-100px)', 'translateY(-80px)', 'translateY(-60px)', 'translateY(-30px)', 'translateY(0px)'] 
  },
  { duration: 1.4, easing: 'ease-out' }
  )

  animate('#second', 
  { opacity: [0, 0.2, 0.6, 0.8, 1], 
    transform: ['translateY(-100px)', 'translateY(-80px)', 'translateY(-60px)', 'translateY(-30px)', 'translateY(0px)'] 
  },
  { duration: 1.4, easing: 'ease-out', delay: 0.5 }, 
  )

  animate('#thrid', 
  { opacity: [0, 0.2, 0.6, 0.8, 1], 
    transform: ['translateY(-100px)', 'translateY(-80px)', 'translateY(-60px)', 'translateY(-30px)', 'translateY(0px)'] 
  },
  { duration: 1.4, easing: 'ease-out', delay: 0.8 }
  )

  animate('#blob', 
    { 
      y: [0, -3, -6, -8, -12, -18, -20, -18, -12, -8, -6, -3, 0],
      x: [0, 3, 6, 8, 12, 18, 20, 18, 12, 8, 6, 3, 0]
    }, 
    { duration: 8, repeat: Infinity }
  )
</script>