---
import gon from '/assets/Gon.png';
---

<section class="section-container">
  <img id="gon" src={gon} alt="a gon animated 3d shape">
  <div id="text" class="text-container">
    <span class="error">Sorry! Error 404 :C</span>
    <h2>We can't seem to find the page you are looking for.</h2>
    <button class="btn">Go to Home</button>
  </div>
</section>



<style>
  section.section-container {
		margin-top: 2rem;
		padding: 0 1rem;
		max-width: 100%;
		display: flex;
		flex-direction: column-reverse;
	}
	div.text-container {
		text-align: center;
		opacity: 0;
	}
	span.error {
		font-size: 18px;
		font-weight: 600;
		color: #dad0d0;
	}
	img#gon {
		width: 290px;
		margin: 0 auto;
	}
	button.btn {
		width: 120px;
		padding: .8rem .5rem;
		border-radius: 10px;
		border: none;
		outline: none;
		font-weight: 600;
		color: #fff;
		background-color: #6a0cad;
    transition: transform .3s ease;
    cursor: pointer;
  }
  button.btn:hover {
    transform: scale(1.1);
  }

  @media screen and (min-width: 536px) {
    section.section-container {
      margin-top: 0;
      flex-direction: row-reverse;
      align-items: center;
      padding: 0 3rem;
    }
    div.text-container {
      width: 50%;
    }
    h2 {
      font-size: 34px;
      margin: 1.2rem 0;
    }
    img#gon {
      width: 480px;
    }
    button.btn {
      width: 130px;
      padding: 1rem .5rem;
      font-size: 16px;
    }
  }
</style>



<script>
  import { animate, inView } from 'motion'

animate('#gon', 
{ 
  transform: ['translateY(-3px)', 'translateY(-8px)', 'translateY(-12px)', 'translateY(-16px)', 'translateY(-12px)', 'translateY(-8px)', 'translateY(-3px)',]
},
{ duration: 8, repeat: Infinity }
)

inView('#text', (info) => {
  animate(info.target, 
    { opacity: [0.2, 0.3, 0.5, 0.8, 1], x:  [-12, -10, -6, -3, 0] },
    { duration: 2 }
  )
})
</script>